body{
	
}
.form{
	margin:auto;
	width:80%;
}
.reg{
	padding:1%;	
}
.field{
	width:50%;
	border-radius:10px;
	background-color: #c2ddf6;
}
dl{
	margin-left:1%;
}
dd{
	margin-left: 0;
	padding:1%;
}
input{
	width:auto;
	border-radius:3px;
	margin-right: 1%;
}
.address{
	width:75%;
}
.submit{
	display:block;
	float: right;
	font:bolder;
	font-size:large;
	color:black;
	clear:both;
	margin-right:40%;
	width: 100px;
	height: 30px;
	border-radius:5px;
	border:thin #000000;
	border-style:none;
	background-color: #0505d0;
	cursor: pointer; 
}
.credit{
	display:block;
	float: right;
	font:bolder;
	font-size:large;
	color:black;
	clear:both;
	margin-right:40%;
	width: 100px;
	height: 30px;
	border-radius:5px;
	border:thin #000000;
	border-style:none;
	background-color: #0505d0;
	cursor: pointer; 
}
.debit{
	display:block;
	float: left;
	font:bolder;
	font-size:large;
	color:black;
	clear:both;
	margin-left:40%;
	width: 100px;
	height: 30px;
	border-radius:5px;
	border:thin #000000;
	border-style:none;
	background-color: #0505d0;
	cursor: pointer; 
}
.submit:HOVER,.credit:HOVER,.debit:HOVER{
	color: white;
}
@media only screen and (max-width: 900px) {
	.form{
		width:80%;
		margin:auto;
	}
	.submit
	{
		width:100px;
	}
}
@media only screen and (max-width: 500px) {
	.form{
		width:auto;
		margin:auto;
	}
	.submit
	{
		width:100px;
	}
}
